body{
    background-color: rgb(15, 49, 76);
}

.table{
    font-size: 13px;
    text-align: center;
    width: 95%;
    margin: auto;
    text-align: center;    
    color:#145fa0;
}

form{
    color:#145fa0;
}

.table tr:nth-child(odd){
    background: #dae5f4;
}

th{
    background-color: #145fa0;
    color:black;
}

