body{
    background-color: rgb(37, 84, 122);
}

.table{
    font-size: 13px;
    text-align: center;
    width: 95%;
    margin: auto;
    text-align: center;    
}

.table tr:nth-child(odd){
    background: #dae5f4;
}

th{
    background-color: #337ab7;
    color:white;
}

