<nav class="navbar navbar-expand-md py-1 navbar-dark fixed-top bg-dark">
    <a class="navbar-brand m-2" style="color:red" href="/">EDP</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>--> 
    
      <ul class="navbar-nav mr-auto m-3">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quantity">Paineis/Datas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_panel">Adicionar Paineis</a>
        </li>
      </ul>        
      <ul class="navbar-nav ">
          {% if request.user.is_authenticated %}
          <li><a href="/acconts/logout"><button class="btn btn-danger">{{ user }} | Logout </button></a></li>
          {% else %}
          <li><a href="/accounts/login">Login</a></li>
          {% endif %}
      </ul>
      <br>
      <br>
      <br>
      <!--
      <form class="form-inline mt-2 mt-md-0">          
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">          
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar Mês</button>          
      </form>
      -->

    
  </nav>